/*------------------------------------------------------------------
[Table of contents]

1. Header 
2. Navigation 
3. Intro 
4. Main Content
5. Footer | #footer
-------------------------------------------------------------------*/



/*------------------------------------------------------------------
[1. Header - header | #wings ]
*/

header {
	background-color: #151724;
	margin-top: -8px;
	margin-right: -8px;
	margin-left: -20px;
	padding: 10px;
	height: 100px;
}
/*-------------------
	HR lines
*/

.left_lines {
	margin-top: -36px;
	margin-left: 545px;
	width: 40px;
}

.right_lines {
	float: right;
	margin-top: -25px;
	margin-right: 545px;
	width: 40px;
}

#top_left {
	color: gray;
	margin-bottom: -4px;
}

#top_right {
	margin-bottom: -4px;
}

/*---------------------------------------------
[2. Navigation - nav| .navliinks |.personalize]
*/

nav {
	width: 400px;
    margin: 0 auto 0 auto;
    padding: 5px;
    border-radius: 5px;
	background-color: #f4c919;


}
/*------------------------------
	Positions Navbar Into Header
*/
div nav {
	margin-top: -25px;
}

nav {
	height: 40px;
	width: 630px;
    padding: 5px;
    border-radius: 5px;
	background-color: #f4c919;

}

.navlinks { 				
	text-align: center;
	margin-top: -1px;
}

.navlinks li {
	font-family: helvetica;
	padding: 10px;
	list-style: none;
	display: inline-block;
	text-align: center;
}

.navlinks li a {
	text-decoration: none;
	color: black;

}

.navlinks li a:hover {
	color: gray;
}

.personalize {
	margin-top: 25px;
	font-family: Chunkfive;
	font-size: 25px;
	text-align: center;
	color: white;
	text-shadow: 3px 3px 3px #9E9E9E;

}
/*-----------------------------------------
[3. Intro - #intro| h1, h3]
*/
#intro h1 {
	text-align: center;
	font-family: Chunkfive;
	color: #393339;
	font-size: 60px;
	text-shadow: 5px 5px 5px #9E9E9E;
}

h3 {
	text-align: center;
	font-family: Chunkfive;
	font-size: 14px;
	color: #393339;

}
/*-----------------------------
[4. Main Content - #main_content | h2 | #work_text | .row | #box ]
*/

#main_content {
	background-color: #F5F5F5;
}

h2 {
	margin-bottom: -27px;
}
#work_text {
	font-family: helvetica;
	font-size: 20px;
	margin-top: 50px;
	margin-left: 55px;
	margin-bottom: -7px;

}

#work_text p {
	padding-top: 7px;
}

.row1 {
	margin-left: 55px;
	font-family: helvetica;
	display: inline-block;
	position: relative;
}

.row2 {
	margin-left: 55px;
	font-family: helvetica;
	display: inline-block;
	position: relative;

}

/*-------------------------------------------------------
	positions the 260 * 180 box img and p text beneath it
*/
#box1 {
	width: 440px;
	display: inline-block;
}

#box2 {
	width: 440px;
	display: inline-block;
}

#box3 {
	width: 440px;
	display: inline-block;
}

#box4 {
	width: 440px;
	display: inline-block;
}

#box5 {
	width: 440px;
	display: inline-block;
}

#box6 {
	width: 440px;
	display: inline-block;
}

/*-----------------------------------------
[5. Footer - #social]
*/

#social {
	margin-top: 35px;
	margin-left: 50px;
}
